<h1 class="page-header">Survey for {{::completedSurvey.data.name}}</h1>

<ui-gmap-google-map center='completedSurvey.map.center' zoom='completedSurvey.map.zoom'>
    <ui-gmap-marker coords="completedSurvey.marker.coords" options="completedSurvey.marker.options" idkey="completedSurvey.marker.id"></ui-gmap-marker>
</ui-gmap-google-map>

<table ng-if="completedSurvey.hasValidQuestionsAndAnswers()" class="table table-striped table-hover small">
    <thead>
        <tr>
            <th>Question</th>
            <th>Answer</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="questionAndAnswer in completedSurvey.questionsAndAnswers">
            <td>{{::questionAndAnswer.question}}</td>
            <td>{{::questionAndAnswer.answer}}</td>
        </tr>
    </tbody>
</table>
