<table class="table table-striped table-hover small">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Postal/Zip Code</th>
            <th>Submitted</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="survey in completedSurveys.list">
            <td>{{::survey.name}}</td>
            <td>{{::survey.email}}</td>
            <td>{{::survey.zip_code}}</td>
            <td>{{::survey.created_at}}</td>
            <td><a href="#completed-surveys/{{::survey.id}}" tooltip="View Details"><i class='fa fa-eye'></i></a></td>
        </tr>
    </tbody>
</table>
